/*body {
    background: white;
}
*/

/* LINK BGG FORM */

#bgg-input {
    width: 400px;
}

#bgg-input .form-group {
    margin-bottom: 0px;
    width: 100%;
}

#bgg-input button {
    margin-left: 15px;
}

/*html {
   background: url(images/bg.jpg) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}*/



.square-image-wrapper {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    overflow: hidden;
}

/*  background-image: url('http://i.stack.imgur.com/GA6bB.png');
  background-size:cover;
  background-repeat:no-repeat;*/

#collection-div {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.square-image-wrapper > img{
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 5;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 6;
    }
}

/* Other aspect ratios to try:
 * 56.25% = 16:9
 * 75% = 4:3
 * 66.66% = 3:2
 * 62.5% = 8:5
 */
