/*body {
    background: white;
}
*/

/* LINK BGG FORM */

#bgg-input {
    width: 400px;
}

#bgg-input .form-group {
    margin-bottom: 0px;
    width: 100%;
}

#bgg-input button {
    margin-left: 15px;
}

/*html {
   background: url(images/bg.jpg) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}*/

/*  Thumbnail images */
/*  This seems a bit ridiculous, but what we're trying to do here is using a
    padding hack, force square-image-div-wrapper to be a square ratio

    Next we anchor square-image-div to the square-image-div-wrapper with absolute
    positioning so it doesn't appear below the padding, and use that to center
    the image in it with flex box positioning*/

.square-image-div-wrapper {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    overflow: hidden;
}

.square-image-div-wrapper > div{
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}

.square-image-div {
/* This is only if we are using img, and not background fill */
/*    display: flex;
    align-items: center;*/

/* This is if we are using background-url and fill*/
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center top;
}

.bg-container {
    padding: 5px;
}

.fill {
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.bg-card > .card-body {
    padding: 0.75rem;
}

.bg-card .card-title {
    margin-bottom: 0px;
    font-size: 1.2rem;
}


/*  background-image: url('http://i.stack.imgur.com/GA6bB.png');
  background-size:cover;
  background-repeat:no-repeat;*/

.wrapper-div {
    margin-left: auto;
    margin-right: auto;
    padding-left:2em;
    padding-right:2em;
}

@media (min-width: 768px) {
    .wrapper-div {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .wrapper-div {
        width: 90%;
    }
}

@media (min-width: 1500px) {
    .wrapper-div {
        width: 80%;
    }
}

@media (min-width: 1800px) {
    .wrapper-div {
        width: 60%;
    }
}

@media (min-width: 0px) {
    .bg-container {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50% !important;
        flex: 0 0 100% !important;
        max-width: 100%;
    }
}

@media (min-width: 576px) {
    .bg-container {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50% !important;
        flex: 0 0 50% !important;
        max-width: 50%;
    }
}

@media (min-width: 768px) {
    .bg-container {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3% !important;
        flex: 0 0 33.3% !important;
        max-width: 33.3%;
    }
}

@media (min-width: 992px) {
    .bg-container {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20% !important;
        flex: 0 0 20% !important;
        max-width: 20%;
    }
}

@media (min-width: 1200px) {
    .bg-container {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6% !important;
        flex: 0 0 16.6% !important;
        max-width: 16.6%;
    }
}

/* FILTER PANEL */
#filter-panel-div {
    max-height: 0px;
    overflow: hidden;
    display: none;
}

#filter-wrapper-div label {
    margin-bottom: 0px;
    margin-right: 8px;
    flex: 0 0 auto;
}

.filter-item {
    display: flex;
    align-items: center;
    align-content: center;
    margin-right: 1rem;
}

#selected-mechanics {
    background: white;
    padding: 20px;
    border-radius: 3px;
    border: 1px solid transparent;
    border-top: none;
    border-bottom: 1px solid #DDD;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
}

.mechanic-item {
    border-radius: 3px;
    background: #EDECFD;
    margin-right: 5px;
    padding: 5px 10px;
}

.mechanic-item > button {
    font-size: 1.7rem;
    margin-left: 0.2em;
}

