{% extends "base.html" %}
{% load i18n %}

{% load static %}
{% block custom_css %}
    <link href="{% static "MainApp/css/login.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="full-height" id="container-div">
    <div class="full-height flex">
        <!-- Right div with login/registration buttons and login bar -->
        <div id="login-div" class="vertical-center horizontal-center">
            <div class="card">
                <article class="card-body">
                    <!-- <img src="{% static "MainApp/images/dice_icon_thumb.png" %}" id="logo_img" alt="logo"> -->
                    <h4 class="card-title text-center mb-4 mt-1">Sign in</h4>
                    <hr>

                    {% if form.errors %}
                    <p class="text-success text-center">Your username and password didn't match. Please try again.</p>
                    {% endif %}

                    <form id="#login-form" method="post" action=".">
                    {% csrf_token %}
                        <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                             </div>
                            <input name="" class="form-control" placeholder="Username" type="username">
                        </div> <!-- input-group.// -->
                        </div> <!-- form-group// -->
                        <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                             </div>
                             <input class="form-control" placeholder="******" type="password">
                        </div> <!-- input-group.// -->
                        </div> <!-- form-group// -->
                        <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"> Login  </button>
                        </div> <!-- form-group// -->
                        <p class="text-center link-p"><a href="{% url 'auth_password_reset' %}" class="btn">Forgot password?</a></p>
                        <p class="text-center link-p"><a href="{% url 'registration_register' %}" class="btn">Not a member?</a></p>
                        <input type="hidden" name="next" value="{{ next }}">
                    </form>
                </article>
            </div> <!-- card.// -->
        </div>
    </div>
</div><!-- /.container -->

{% endblock %}


